@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: lightblue;
}

a {
    color: #ff0000;
}
h1 {
    color: #1f2703;
}
h2 {
    color:rgb(92, 66, 86);
}
.small-img {
    width: 500px;
    height: auto; 
}